export OPEN_ID_CONNECT_URL="https://iam-auth.develop.eoepca.org/realms/eoepca/.well-known/openid-configuration"
export OPEN_ID_CONNECT_CLIENT_ID="resource-health-bb"
export OPEN_ID_CONNECT_CLIENT_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export REMOTE_PROTECTED_ENDPOINT="https://127.0.0.1:9200/_plugins/_security/authinfo"
# export TLS_NO_VERIFY="true"